

/* font  */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* width: 100%; */

}

/* shared style */

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.a-color {
    color: #474747;
}


.bg-primary {
    /* background-color: #fff3f3; */
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    /* align-items: center; */
    /* justify-content: center; */
}

.section-description{
    font-size: 18px;
    font-weight: normal;
    color:#757575;
    text-align: justify;
}


/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0px 150px;
    
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 580px;    
    
}
.nav-heading {
    font-size: 45px;
    font-weight: bolder;
    /* margin-left: 80px; */
    width: 580px;
    
}

.h2_span {
    color: #FD6E0A;
}


nav ul li {
    list-style: none;
    font-weight: bold;
    /* margin-right: 50px; */  
}

ul li a {
    /* text-decoration: none; */
}

/* nav button style */
.btn-nav {
    background-color: #FD6E0A;
    color:#FFFFFF;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.header-style{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:  top left , right bottom;
    width: 100%;
    /* margin: 0 0; */
    /* height: 450px; */
    /* margin:  35px 71px 28px 21px; */
    background-size: contain;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    /* justify-content: space-between; */
    /* gap: 30px; */

    margin: 0px 0px 0px 150px;
    /* height: 500px; */
    
}

.img-banner {
    /* width: 500px; */
    width: 300px;
    height: 450px;
    /* margin-right: 250px; */
    /* border: 2px solid black; */
    /* margin-left: 30px; */

    /* width: 50%; */
    
}

.banner-content {
    max-width: 600px;
    border: 1px solid black;
    padding: 15px;
    /* width: 50%; */
    text-align: justify;
}

/* banner content style */
.ban-h4 {
    color: #474747;
    font-weight: 450px;
    font-size: 25px;
}
.ban-h1 {
    color: #181818;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.ban-paragraph {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 45px;
}

/* button style */
.btn-banner {
    background-color: #FFFFFF;
    color: #FD6E0A;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

/* section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    padding: 100px 120px;
    margin-top: 0px;
    border-radius: 10px;
    max-width: 1000px;
    /* align-items: center; */
    /* justify-content: center; */
}

.main-div{
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 5px 10px;
    
    /* margin: 0 auto; */
    
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.item-name{
    text-align: center;
    font-size: 20px;
    color: #920b0d;
    font-weight: 600px;
}
.item-description{
    text-align: center;
    color: rgb(8, 166, 246);
    font-size: 20px;
    font-weight: 600px;
}

.item{
    /* text-wrap: balance; */
    text-wrap: wrap;
}

/* styles of skill section */
.skill-container{
    display: flex;
    gap: 24px;
    /* align-items: center; */
    /* justify-content: center; */
}

.skill{
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 5px 0px #000000;
    border-radius: 5px;
}
/* image  */
.skill-image{
    width: 100px;
    height: 100px;
    display: block; 
    margin: auto;
}

.skill-description{
    font-size: 14px;
    font-weight: normal;
    color:#757575;
    text-align:justify;
    /* line-height: 20px; */
}

.skill-title{
    text-align: center;
}


/* styles of Education section */

.education-container{
    display: flex;
    margin-top: 50px;
    /* gap: 200px; */
    /* justify-content: center; */
    
    height: auto;
}

.education-img{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 1px;
}

.education-details{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
}

.degree-description{
    font-size: 14;
    color:#757575;
    line-height: 24px;
    /* box-shadow: 0px 5px 10px 0px #000000; */
}

.degree-title{
    font-size: 24px;
}

.degree-sub-title{
    font-size: 20px;
}

.education{
    margin-bottom: 50px;
    margin-top: 50px;
}